/*Mobile Reset*/

.socIcon {
  display: none;
}
.navLink {
  display: none;
}
.menuButton {
  display: none;
}

.containerbtn {
  display: none;
}

/*Mobile Nav*/

/*---------------------Header---------------------------------------------------*/
.banner p {
  font-size: 0.9rem;
  margin: 0 0.8rem 0 0.8rem;
}

.banner :last-child {
  /* padding-bottom: 2rem; */
  font-size: 0.8rem;
}

/*Középső szakasz a logonak*/

.banner h1 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  padding: 1rem;
}

#js-mobilMenu {
  background-color: #eae2d6fd;
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 3rem;
  padding-top: 6rem;
  gap: 1.9rem;
}

#js-mobilMenu a {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
hr {
  width: 70%;
  color: black;
}

/*--------------------------------------------------------------ABOUT------------------------------------------------------------------------------------------*/
#about {
  width: 90%;
  height: 30rem;
  padding: 1rem;
  margin: 16rem auto 0em auto;
  background-color: #eae2d6;
  border-radius: 25px/75px;
  box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;
}

#about h2 {
  font-size: 1.5rem;
  text-align: center;
}
.aboutText {
  font-size: 0.8rem;
  padding: 0;
}

#about img {
  max-width: 100%;
  width: 180px;
  height: auto;
  margin-bottom: 1rem;
  margin-top: -8rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;
}

.contactButton {
  margin: -3rem 0 0rem 0;
}

/*--------------------------------------------------------------Portfolio------------------------------------------------------------------------------------------*/

#portfolio {
  padding: 1rem;
}

.box {
  width: 100%;
  height: 12rem;
  margin: 10rem auto 0 auto;
  border-radius: 25px/75px;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;
}

.box a {
  width: 100%;
  margin-left: 0rem;
  margin-top: 14rem;
  height: auto;
  justify-content: center;
}

.text h2 {
  font-size: 1.2rem;
}
.text h3 {
  font-size: 1rem;
  text-align: center;
  width: 15rem;
  margin: 0 auto 0 auto;
}

/*------------------------------Contact----------------------------------------------------------*/

#contact {
  width: 90%;
  padding: 1rem;
  margin-top: 8rem;
}

#contact form {
  margin-top: 4rem;
}

/*--------------------------------- uploadingSection-------------------------*/


.uploadingSection h1 {
  font-size: 1.3rem;
}