* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#eae2d685
}

/*--------------------------------------------------------------HEADER------------------------------------------------------------------------------------------*/

/*Felső menü*/
.navUp{
    background-color: #E4D8C9; 
    height: 2.5rem;
    display: flex;
    
}
.socIcon{
    /* background-color: rgba(0, 0, 255, 0.247); */
    width: 33.33%;
    font-size: 1.4rem;
    padding: .3rem;
    display: flex;
    align-items: center;
   
 
}

.socIcon .fa{
    margin-right: 1rem;
    color: black;
    
}

.socIcon .fa:hover{
    color: rgba(0, 0, 0, 0.418);
    cursor: pointer;
    font-size: 1.5rem;
}



.socIcon:first-child{
     margin-left: 1rem;
}
.navLink{
    /* background-color: rgba(0, 0, 0, 0.322); */
    width: 33.33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Petit Formal Script', cursive;
}
.navLink a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: rem;
}
.navLink a:hover{
    color: rgba(0, 0, 0, 0.418);
    cursor: pointer;
}

.envelope{
    /* background-color: rgba(165, 42, 42, 0.356); */
    width: 33.33%;
    font-size: 1.4rem;
    padding: .3rem;
    display: flex;
    justify-content: end;
}

.envelope .fa{
    margin-right: 2rem;
}

.envelope .fa:hover{
    color: rgba(0, 0, 0, 0.418);
    cursor: pointer;
    font-size: 1.5rem;
}

/*Középső szakasz a logonak*/
.banner{
    background-color:#EAE2D6;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Petit Formal Script', cursive;
    text-align: center;
    padding: 2rem;
}
.banner h1{
    font-size: 4rem;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
}
.banner p{
    font-size: 1.2rem;
    font-weight: bold;
}


/*Alsó menü*/

.navDown{
    background-color: #E4D8C9; 
    height: 2.5rem;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.navDownLink{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
}
.navDownLink a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: .3rem;
    font-family: 'Petit Formal Script', cursive;
}

.navDownLink a:hover {
    cursor: pointer;
}


/*--------------------------------------------------------------ABOUT------------------------------------------------------------------------------------------*/
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18rem auto 15rem auto;
    width: 70%;
    height: auto;
    padding: 0 3rem 0 3rem;
    background-color:#EAE2D6;
    border-radius: 25px/75px;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;


}
#about h2{
    font-family: 'Petit Formal Script', cursive;
    margin-bottom: 1rem;
    font-size: 2.6rem;
}

#about h3{
    font-family: 'Noto Serif', serif;
    margin-bottom: 1rem;
}

.aboutText{
    width: 60%;
    padding: 1rem;
    font-family: 'Noto Serif', serif;
    line-height: 250%;
    text-align: center;
    font-weight:bold;
    font-size: 1.2rem;
    

}

#about a{
    text-decoration: none;
    margin: 2rem 0 4rem 0;
}

#contactButton {
    font-family: 'Noto Serif', serif;
    outline: 1px solid white;
    background-color: #7e5c4e;
    color: whitesmoke;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    margin: 2rem 0 4rem 0;
    padding: 1rem 2rem 1rem 2rem ;
    border-radius: 25px/75px;
}

#about a{
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-5 13:51:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

#contactButton:hover{
    background-color: #7e5c4e7e;
    cursor: pointer;
}



#about img{
    max-width: 100%;
    width: 280px;
    height: auto;
    margin-bottom: 1rem;
    margin-top: -8rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;
}

/*--------------------------------------------------------------Portfolio------------------------------------------------------------------------------------------*/



.box{
    width: 60%;
    height: 20rem;
    margin: 6rem auto 0 auto ;
    border-radius: 25px/75px;
    padding: 1rem;
    display: flex;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;
}


.box a{
    text-decoration: none;
    color: black;
    background-color:#EAE2D6;
    width: 60%;
    height: 15rem;
    padding: 1rem;
    margin-left: -9rem;
    border-radius: 25px/75px;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.box a:hover{
    background-color: #7e5c4ef1;
    color: whitesmoke;
}

.text{
    margin-left: 2rem;
}

.text h2 {
    padding-bottom: 1rem;
    font-size: 1.7rem;
    font-family: 'Petit Formal Script', cursive;
}
.text h3{
    font-family: 'Noto Serif', serif;
    font-size: 1.1rem;
}

.whiteText span{
    margin-right: 4rem;
    font-size: 2rem;
}


/* #portfolio:last-child{
        margin-bottom: 5rem;
}
 */


/*Boxok*/

.box1{
    background-image: url(../img/olaj2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box2{
    background-image: url(../img/sello.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.box3{
    background-image: url(../img/Akv.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.box4{
    background-image: url(../img/./egyébb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.box5{
    background-image: url(../img/versek.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}



/*------------------------------Footer----------------------------------------------------------*/

footer{
    height: 8rem;
    background-color:#EAE2D6;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;
    margin-top: 10rem;
}