.navUp{
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
}

.socIcon{
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}
.navLink{
    width: 80%;
    margin-bottom: 1rem;

}
.envelope{
    width: 100%;
}

.navDown{
   /*  background-color: blue; */
    justify-content: end;
}

.navDownLink{
    width: 80%;
    
    
}

.socIcon:last-child{
    margin-right: 0;
}

.socIcon:first-child{
     margin-left: 0; 
}

.language{
    width: 100%;
    font-size: 1rem;
    padding: .3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    font-family: 'Petit Formal Script', cursive;
    font-weight: 500;
}

.language :last-child{
    margin-right: .5rem;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.418);
    font-weight:900
}


.navDownLink{
    display: none;
}

.menuButton{
    display: block;
    font-size: 2.8rem;
    padding: .5rem;
    margin-right: 1.5rem;
    cursor: pointer;
}
#js-minusButton {
    display: none;
}

 #js-mobilMenu{
    background-color:#eae2d6da;
    height: 25rem;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
    gap: 2rem;
    opacity: 0;
    /* opacity: transform 100ms ease-in-out; */
}

/* .nemu-active{
    display: flex;
} */

#js-mobilMenu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Petit Formal Script', cursive;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: .3rem;
   
}



/*--------About----------------------*/
#about{
    width: 90%;
}


#about h2{
    font-size: 2.2rem;
    text-align: center;
}

#about h3{
    font-family: 'Noto Serif', serif;
    margin-bottom: 1rem;
}

.aboutText{
    width: 100%;
   
}


/*--------------------------------------------------------------Portfolio------------------------------------------------------------------------------------------*/
.box{
    justify-content: center;
    width: 90%;
}
.box a{
    width: 80%;
    height: auto;
    margin-top: 20rem;
    padding: 1rem;
    margin-left: 0;
}






/*--------Footer----------------------*/
.footerContent{
    flex-direction: column;
    gap: 2rem;
    
}
.footerAdress{
    order: 1;
    width: 100%;
 
}
.footerImage{
    order: 2;
}

.footerMenu{
    width: 100%;
}

/*------------------------------Contact----------------------------------------------------------*/


#contact textarea{
    width: 90%;
    
}