.navUp{
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
}

.socIcon{
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}
.navLink{
    width: 80%;
    margin-bottom: 1rem;

}
.envelope{
    width: 100%;
}

.navDown{
   /*  background-color: blue; */
    justify-content: end;
}

.navDownLink{
    width: 80%;
    
    
}

.socIcon:last-child{
    margin-right: 0;
}

.socIcon:first-child{
     margin-left: 0; 
}


.navDownLink{
    display: none;
}

.menuButton{
    display: flex;
    font-size: 2.8rem;
    padding: .5rem;
   /*  background-color: burlywood; */
    margin-right: 1.5rem;
}
.menuButton:hover{
    cursor: pointer;
}

.mobilMenu{
    background-color: rgba(0, 0, 255, 0.295);
    height: 50rem;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
    gap: 2rem;
  
}

.mobilMenu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Petit Formal Script', cursive;
    text-align: center;
    font-size: 1rem;
   
}



/*--------About----------------------*/
#about{
    width: 90%;
}



/*--------------------------------------------------------------Portfolio------------------------------------------------------------------------------------------*/
.box{
    justify-content: center;
}
.box a{
    width: 80%;
    height: 8rem;
    margin-top: 20rem;
    padding: 1rem;
    
}


/*--------Footer----------------------*/
.footerContent{
    flex-direction: column;
    gap: 2rem;
    
}
.footerAdress{
    order: 1;
    width: 100%;
 
}
.footerImage{
    order: 2;
}

.footerMenu{
    width: 100%;
}
